AmpelAus IMAGE Contents/AmpelAus.ico
AmpelGelb IMAGE Contents/AmpelGelb.ico
AmpelGruen IMAGE Contents/AmpelGruen.ico
AmpelRot IMAGE Contents/AmpelRot.ico
AmpelRotGelb IMAGE Contents/AmpelRotGelb.ico
AutoHoch IMAGE Contents/AutoHoch.png
AutoRunter IMAGE Contents/AutoRunter.png
AutoLinks IMAGE Contents/AutoLinks.png
AutoRechts IMAGE Contents/AutoRechts.png


